{% extends "base.html" %}
{% load static %}
{% block body %}

    
     <div class="text-center " style="color: black;">
      <h2 class="h1 hero__title mt-5">
      
      ABOUT 
      
    </h2>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <img src="https://zerodebikes.com/cdn/shop/files/DSC09738_small_6f5630c9-cdd6-4d70-9409-228a42a65a71.jpg?v=1675131539&width=2400" alt="" width="100%">
        </div>
      </div>
    </div>
    <div class="container text-center mt-4 text-white">
      <h3>.RIDERS .DESIGNERS .INNOVATORS .FRIENDS</h3>
    <h6>Proudly founded in New Zealand, Zerode has grown out of a devotion to a better riding experience. It is a combination of many years experimenting with bike designs and years aboard them testing, developing and refining - all on the world renowned trails in Rotorua, New Zealand. But at the heart of Zerode, we're a group of riding friends dedicated to making rider better for mountain bikers.</h6>  
    </div>

    <div class="container mt-3 text-center text-white">
      <div class=" row">
        <div class="col-lg-6">
          <img src="https://zerodebikes.com/cdn/shop/files/Screenshot_2021-11-15_113413_750x_e2bb9174-361d-421d-a501-75b683898d2b_900x.jpg?v=1673542788" width="100%" alt="">
          <h3>ROB METZ - FOUNDER</h3>
          "Engineering isn't so much a career as a calling for me. Growing up I spent my time designing and building everything from radio control gliders, yachts, and surfboards to telescopes. While studying Mechanical Engineering at the University of Auckland I was introduced to mountain biking, and with a background in BMX it wasn’t long before I was representing New Zealand in downhill, exploring our back country, and questioning the latest thinking in mountain bike design."
        </div>
        <div class="col-lg-6">
          <img src="https://zerodebikes.com/cdn/shop/files/75534270_10156915598088869_1592523351656497152_n_540x_9a0e0933-8146-4700-90aa-65ec6716935c_900x.jpg?v=1673542208" width="100%" alt="">
          <h3>ALI QUINN - DIRECTOR</h3>
          "After a chance meeting with Rob in the forest in early 2015, and a five minute ride on his Zerode bike, I knew the future of mountain biking. I can still close my eyes and remember that first run - along Under Billy across the road into Sesame Street and down to the shuttle - the bike was silent, it floated and for five minutes I was a faster and smoother rider. The addiction of suddenly being better at something I love doing was real and it was the hardest thing to give Rob back his prototype."
        </div> 
      </div>
    </div>
    <div class="container text-white text-center">
      <div class="row">
        <div class="col-lg-4">
          <img src="https://zerodebikes.com/cdn/shop/files/20230622_160612_900x.jpg?v=1689557958" width="100%" alt="">
          <h3>PHIL BOORMAN - MARKETING</h3>
          Living just up the road from Rotorua, Phil bought a Taniwha a few years ago, and was so stoked on how it transformed his riding, he made it his mission to harrass the Zerode team to let him work for the company. They gave in eventually and he's now a happy man. Phil comes to us from the mountain bike tourism industry being the founder and Director of premier multi-day mtb tour operator - All Mountain Rides.</div>
        <div class="col-lg-4">
          <img src="https://zerodebikes.com/cdn/shop/files/2022-03-20_15.22.35_540x_534774d8-62a9-4ed1-8773-1f39438d0a60_900x.jpg?v=1673542208" width="100%" alt="">
          <h3>HUGO WALS - EUROPE</h3>
          Based in the Netherlands, Hugo is responsible for Zerode's activities in Europe. If you're after a bike, then Hugo will be the person you'll be in touch with.
          
          Mountain biking has been Hugo's passion since 1994. "A lot of great things come together in mountain biking: physical exercise, riding technique, being together with friends, beautiful nature, cool equipment and adrenaline. The difference between the mountain bikes of today and those of the nineties is huge and the developments have contributed enormously to what you can do with a bike and how much fun you have on it."</div>
        <div class="col-lg-4">
          <img src="https://zerodebikes.com/cdn/shop/files/IMG_20220125_210310_456_540x_1327e79c-3d0b-4635-8bdf-2c6797cdccda_900x.jpg?v=1673542207" width="100%" alt="">
          <h3>LEWIS PARKINSON - WORKSHOP, JACK OF ALL TRADES</h3>
          Lewis hails from Wellington, where there's a super cool mix of urban space and steep techy trails all set in a small area. This cool mix had a big influence on Lewis and his outlook on riding, work and being able to take up any challenge put in front of him. He's an absolute shredder, incredible mechanic/photographer/problem solver and all-round integral part of our team.</div>
      </div>
    </div>
      

{% endblock  %}